*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    
    
    

    
    
}
.kosgoda{
    height: 1500px;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(./pexels-photo-4973963.jpeg);
    background-size:cover;
    background-position: center;
    background-color: black;}
    
    
    h1
    {color: white;
    text-align: center;}
    
nav{
    display: block;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: black;
}
.logo
{
    color: white;
    font-size: 28px;
}
span{
    color:red;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration:none;
    font-weight: bold;
}
nav ul li a:hover{
    color:red;
    transition: .3s;
}
button{
    border: none;
    background: red;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
button:hover{
    transform: scale(1.3);
    cursor: pointer;

}

p{
    color: darkgray;
    position:static;
    width: 100%;
    font-size: large;
}

ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown{
    width: 100%;
    background:black;
    position: absolute;
    z-index: 999;
    display:none;
}
 ul li a:hover 
{background: none;
       
}
ul li:hover ul.dropdown{
    display:block;
}

img{
    align-items: center;
}
.active
{
    color: red;
}
.map1{
    margin-top: 5%;
    width: 1000pt;
    
}

.box{
    margin: 0  10px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition: 1s;
}
.box img{
display: block;
border-radius: 5px;
}
.box :hover{
    transform: scale(0.9);
    z-index: 2;

}

footer{

    background-color:black;
}

.footerinside{
    width: 100%;
    padding: 70px 30px 20px;
}
.social-icons{
    display: flex;
    justify-content: center;

}

.social-icons a{

    text-decoration:none;
    padding: 10px;
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 50%;
}

.social-icons a i{

    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/*........... ...............................hover effect on social medai icons.............*/

.social-icons a:hover{

    background-color: #000;
    transition: 0.5s;

}
.social-icons a:hover i{

    color: whitesmoke;
    transition: 0.5s;

}


.footernav{

    margin: 30px 0;
}
 
.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: nonedisc;

}

.footernav ul li a{

    color: whitesmoke;
    margin: 30px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}

.footernav ul li a:hover{

    opacity: 1;
}

.footer-bottom{

    background-color: black;
    padding: 20px;
    text-align: center;
}


.footer-bottom p{
    color: white;
}

